/* Nav Bar */
.navBar{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: minmax(50px, 60px);
    background-color: antiquewhite;
}
.nav-icon{
    grid-column:1/3 ;
    display: flex;
}

.imageIcon{
    height: 100%;
    width: 60%;
}
.iconTitle{
    font-size: 1.3rem;
    font-family:cursive;
    padding: 5px;
}
.navBar div{
    font-size: 1.2rem;
    font-family: sans-serif;
}
.tc{
    display: flex;
    align-self: center;
    justify-self: center;
}
.nav-fav{
    grid-column: 3;
}
.search-box{
    grid-column:5/8 ;
    /* position: relative; */
    background-color: rgb(158, 104, 104);
    width: 80%;
    height: 50%;
    border-radius: 10px;
}
.search-box input{
    width: 70%;
    height: 50%;
    border: 2px solid rgb(158, 104, 104);
    padding: 5px;
    background-color: white;

}
.search-box .fa-magnifying-glass{
    /* position:relative;
    left:0%;
    top: 23%; */
    padding: 5px;
    z-index: 2;
}
.search-box .fa-microphone{
    padding:5px;
    z-index: 2;
}
a{
    text-decoration: none;
    color: black;
}
.fl{
    display: flex;
}
.nav-bell{
    grid-column: 9;
}
.nav-bell i{
    font-size: 2rem;
}
.profile{
    grid-column: 10;
}
.profile-img{
    border-radius: 50%;
    width: 80%;
    height: 90%;
}
/* Responsiveness on Nav Bar */

@media screen and (max-width: 760px) {
    .navBar{
        display: grid;
        grid-template-columns: repeat(7, 15%);
        grid-template-rows: minmax(100px, auto);
    }
    .nav-icon{
        grid-column:1/3 ;
        background-color: rgb(0, 213, 255);
    }
    .nav-fav{
        grid-column: 3;
        background-color: rgba(0, 255, 255, 0.722);
    }
    .search-box{
        grid-column:4/6 ;
        background-color: rgb(81, 255, 0);
    }
    .nav-bell{
        grid-column: 6;
        background-color: rgb(135, 143, 143);
    }
    .profile{
        grid-column: 7;
        background-color: lightgrey;
    }
}
/* Responsive Design for small Screens */
@media screen and (max-width: 400px) {
    .navBar{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: minmax(100px, auto);
    }
    .nav-icon{
        grid-column:1/2;
        background-color: rgb(255, 255, 0);
    }
    .nav-fav{
        grid-column: 4;
        background-color: rgba(0, 255, 255, 0.722);
    }
    .search-box{
        grid-column:2/4 ;
        grid-row: 1;
        background-color: rgb(170, 0, 255);
    }
    .hamburg{
        grid-column: 4;
        background-color: brown;
    }
    .nav-bell{
        grid-column: 4;
        background-color: rgb(135, 143, 143);
    }
    .icon-profile{
        grid-column: 4;
        background-color: lightgrey;
    }
}
/* Common Code Grids */
.c1{
    grid-column: 1;
}
.c2{
    grid-column: 2;
}
.c3{
    grid-column: 3;
    background-color: bisque;
}

.c4{
    grid-column: 4;
}
.c5{
    grid-column: 5;
}
.c6{
    grid-column: 6;
    /* grid-row: 1; */
}
.c7{
    grid-column: 7;
}
.c8{
    grid-column: 8;
    background-color: bisque;
}

.c9{
    grid-column: 9;
    background-color: bisque;
}
.c10{
    grid-column: 10;
    background-color: rgb(238, 255, 196);
}